<!DOCTYPE html>
<html>
<head>
    <title>We're sorry, but something went wrong (500)</title>
    <style type="text/css">
        body { background-color: #0480be; color: #666; text-align: center; font-family: arial, sans-serif; }
        div.dialog {
            width: 25em;
            border: 4px solid #ccc;
            border-right-color: #999;
            border-bottom-color: #999;
        }
        h1 { font-size: 100%; color: #5bb75b; line-height: 1.5em; }
    </style>
</head>

<body>
<!-- This file lives in public/500.html -->
<div class="dialog">
    <h1>index html page~~~~~~~~~~~~~~~~~~~</h1>
</div>
</body>
</html>