%script{ type: "text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"}
= javascript_include_tag 'google_maps'

.row.mt30.ml20
  %h1.span6 Your location on the map:
  %h2.span4
    = link_to 'create a location', new_location_path()

#google-map.mt30
  something

:javascript
  window.location_collection = '#{@locations.to_json}';
