%script{ type: "text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"}
  = javascript_include_tag 'google_maps'

%h1.mt30.ml20 Your location on the map:

#google-map.mt30
  something


