%script{ type: "text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"}
= javascript_include_tag 'locations'

%h1.ml20.mt30 Input your location please :

%form.ml20.mt30{ action: locations_path(), method: 'POST' }
  #location-search-container.location-search-box
    %input.input-xlarge#location-query-field{ name: 'location[query]', placeholder: 'Address, City or Postcode', value: params[:location] ? params[:location][:query] : "" }
    %a.btn.btn-primary.submit-button{ href: "#" }
      Lookups